 /* Global Styles */
body {
    font-family:'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
    display:contents;
}

/* Fixed Vertical Navigation Bar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 120px;
    height: 100%;
    background-color: #333;
    color: white;
    border-radius: 0 10px 10px 0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.navbar li {
    margin: 20px 0;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    display: block;
    padding: 10px 15px;
    width: 100%;
}

.navbar a:hover {
    background-color: #555;
}

/* Main Content Margin */
header, section {
    margin-left: 220px;
    padding: 20px;
}

/* Header Section Styles */
header {
    padding: 50px;
    background-color: #333;
    color: white;
    text-align: center;
}

/* Section Styles */
section {
    margin:auto;
    padding:auto;
    max-width: 800px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

ul {
    list-style-type: disc;
    margin: 10px 0;
    padding-left: 20px;
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    margin-top: 40px;
}